.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: floralwhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.boundary:hover {
  transform: translate(-110px, -110px) scale(1.4);
  z-index: 10;
} */

.boundary {
  transition: 1s ease;
}

#choropleth {
  display: flex;
  flex-direction: column;
  color: #57068c;
  z-index: 2;
}
#derivatives {
  display: flex;
  flex-direction: column;
  background-color: #57068c;
  width: 100%;
  z-index: 0;
}

#polygons {
  position: fixed;
  fill: floralwhite;
  z-index: 1;
}

#polygons:hover {
  animation: removePoly ease-out 0.5s forwards;
}

@keyframes removePoly {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-120px);
  }
}

#vizTitle {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  fill: #57068c;
}
#selectNeighbourhood {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  fill: #57068c;
  transform: translateY(-35px);
}
